IDI_ICON1 ICON DISCARDABLE "icon.ico"

1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "spikest3r\0"
            VALUE "FileDescription", "Turn your numpad into hotkey pad.\0"
            VALUE "ProductName", "Hotpad\0"
            VALUE "LegalCopyright",   "© 2025 spikest3r\0"
            VALUE "ProductVersion",   "1,0,0,0\0"
            VALUE "OriginalFilename", "Hotpad.exe\0"
            VALUE "Comments", "https://nulldog.xyz/\0"
            VALUE "InternalName", "Hotpad - hotkey app\0"
            VALUE "SpecialBuild", "\0"
        END
    END
END
